@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clip-right{
  clip-path: polygon(0 0, 0 100%, 100% 55%);
}

.clip-down{
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.clip-top{
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.clip-left{
  clip-path: polygon(100% 100%, 100% 0, 0 50%);
}